/* ################## Login Component #######################3 */
.input-box:focus {
  outline: none;
  border: 1px solid rgb(8, 8, 55);
  box-shadow: 0px 0px 3px #0d58e3;
}

#account-paragraph {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.2rem;
  text-shadow: rgb(72, 66, 66) 0.1em 0.1em 0.2em;
  font-weight: bolder;
  margin: 0.2rem 1rem;
  padding: 0.5rem 1rem;
  word-spacing: -0.3rem;
}


#invalid {
  animation: shake 0.1s;
  animation-iteration-count: 3;
}

/* shake in one dimention left and right only */
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-5px);
  }

  20% {
    transform: translateX(5px);
  }

  30% {
    transform: translateX(-5px);
  }
}

/* ############## Form ################## */

#form {
  background-color: rgb(17, 24, 39);
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  padding: 1rem 1rem;
}

.input-box {
  background-color: rgb(17, 24, 39);
  border: 1px solid rgb(158, 152, 152);
  font-size: 1rem;
  margin: 0.2rem 2rem;
  padding: 1rem 1rem;
  text-decoration: none;
}

#continue-button {
  background-color: rgb(30, 215, 96);
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
}

#continue-button:hover {
  background-color: rgb(14, 165, 67);
  color: #000000;
  cursor: pointer;
}