/*################################# Shopping Card CSS ################################ */

#cart-button,
#download-button,
#upload-button {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.2rem 2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

#cart-button:hover,
#download-button:hover,
#upload-button:hover {
    background-color: rgb(209, 209, 13);
    color: #000000;
    cursor: pointer;
}

/* select category of search bar */
#category {
    background-color: rgb(9, 9, 65);
    color: white;
    font-size: 1rem;
    margin: 0.2rem 2rem;
    padding: 1rem 1rem;
    text-decoration: none;
}


/* ######################### Animation for all components ############################ */

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-fade>* {
    animation: slideFadeIn 0.5s ease-in-out;
}

::placeholder {
    color: #999;
    font-size: 15px;
}

.upload-box {
    background-color: rgb(17, 24, 39);
    font-size: 1rem;
    padding: 1rem 1rem;
    text-decoration: none;
}

.input-field {
    background-color: rgb(17, 24, 39);
    padding: 4px;
}


/* component.css */
.container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
}

.container::-webkit-scrollbar {
    display: none;
}