/* write the css for make background color dark and impressive */
body {
    padding: 0;
    margin: 0;
    height: 100%;
    color: white;
    background-color: rgb(17, 24, 39);
    background-image: linear-gradient(rgb(51, 58, 64), rgb(17, 24, 39));
}